{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le site du club cycliste de pleine fougères !{% endblock %}

{% block body %}


<h2 class="memberArea-title">Bonjour {{ user.username }}!</h2>

    <nav>
        <ul>
            <li
                    class="member-menu-li">
                <a
                        class="member-menu-a"
                        href="{{ path('app_add_article') }}">Ajouter un article</a>
            </li>

            <li
                    class="member-menu-li">
                <a
                        class="member-menu-a"
                        href="{{ path('app_user') }}">Gestion des utilisateurs</a>
            </li>

            <li
                    class="member-menu-li">
                <a
                        class="member-menu-a"
                        href="{{ path('app_add_circuit') }}">Ajouter un circuit</a>
            </li>

            <li
                    class="member-menu-li">
                <a
                        class="member-menu-a"
                        href="{{ path('edit-organisation') }}">Ajouter une organisation</a>
            </li>

            <li
                    class="member-menu-li">
                <a
                        class="member-menu-a"
                        href="{{ path('edit-links') }}">Ajouter un sponsor</a>
            </li>

            <li
                    class="member-menu-li">
                <a
                        class="member-menu-a"
                        href="{{ path('app_private_article') }}">Voir les articles privés</a>
            </li>

            <li
                    class="member-menu-li">
                <a
                        class="member-menu-a"
                        href="{{ path('app_circuit') }}">Les circuits</a>
            </li>

            <li
                    class="member-menu-li">
                <a
                        class="member-menu-a"
                        href="{{ path('gallery') }}">Photos</a>
            </li>
        </ul>
    </nav>




{% endblock %}
