
<header>
    <h1 class="home-title-club">Nom du club</h1>

    <nav>
        <ul
                class="nav-menu-ul">
            <li
                    class="nav-menu-li">
                <a href="{{ path('app_home') }}">Accueil</a>
            </li>

            <li
                    class="nav-menu-li">
                <a href="{{ path('app_organisation') }}">Organisations</a>
            </li>

            <li
                    class="nav-menu-li">
                <a href="{{ path('app_sponsor') }}">Liens utiles</a>
            </li>

            <li
                    class="nav-menu-li">
                <a href="{{ path('app_login') }}">Espace adhérents</a>
            </li>

            <li
                    class="nav-menu-li">
                <a href="{{ path('app_contact') }}">Contact</a>
            </li>

        </ul>
    </nav>
</header>
