
<header>
    <div class="header-top">
        <img
                src="{{ asset('images/image.jpg') }}"
                alt="la photo"
                class="header-img">
        <h1
                class="home-title-club">
            C.T. Pleine-Fougères
        </h1>
    </div>

    <nav>
        <ul
                class="nav-menu-ul">
            <li
                    class="nav-menu-li">
                <a
                        class="nav-menu-a"
                        href="{{ path('app_home') }}">Accueil</a>
            </li>

            <li
                    class="nav-menu-li">
                <a
                        class="nav-menu-a"
                        href="{{ path('app_organisation') }}">Organisations</a>
            </li>

            <li
                    class="nav-menu-li">
                <a
                        href="{{ path('app_sponsor') }}"
                        class="nav-menu-a">Liens utiles</a>
            </li>

            <li
                    class="nav-menu-li">
                <a
                        class="nav-menu-a"
                        href="{{ path('app_member_area') }}">Espace adhérents</a>
            </li>

            <li
                    class="nav-menu-li">
                <a
                        class="nav-menu-a"
                        href="{{ path('app_contact') }}">Contact</a>
            </li>

            {% if app.user %}
                <li
                        class="nav-menu-li">
                    <a
                            class="nav-menu-a"
                            href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
            {% endif %}



        </ul>
    </nav>
</header>
