{% extends 'base.html.twig' %}

{% block title %}Ajouter un article{% endblock %}

{% block body %}

<div>

    {{ form_start(form)}}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.public) }}
    <button
            type="submit"
            class="">Ajouter
    </button>
    {{ form_end(form)}}
</div>
{% endblock %}
